'Discovering Pluto':
  'title': 'Discovering Pluto'
  'paths': [
    '/Users/rslnk/Sites/discoveringpluto.com/src/stylus'
    '/Users/rslnk/Sites/discoveringpluto.com/src/views'
    '/Users/rslnk/Sites/discoveringpluto.com/src'
    '/Users/rslnk/Sites/discoveringpluto.com'
  ]
'Reimagine Belonging':
  'title': 'Reimagine Belonging'
  'paths': [
    '/Users/rslnk/Sites/reimaginebelonging.org/site/web/app/themes/theme/assets/styles'
    '/Users/rslnk/Sites/reimaginebelonging.org/site/web/app/themes/theme/assets/scripts'
    '/Users/rslnk/Sites/reimaginebelonging.org/site/web/app/themes/theme/assets/ng'
    '/Users/rslnk/Sites/reimaginebelonging.org/site/web/app/themes/theme/templates'
    '/Users/rslnk/Sites/reimaginebelonging.org/site/web/app/themes/theme'
    '/Users/rslnk/Sites/reimaginebelonging.org/site/web/app/mu-plugins'
    '/Users/rslnk/Sites/reimaginebelonging.org/site'
  ]
'Biguniverse':
  'title': 'Biguniverse'
  'paths': [
    '/Users/rslnk/Sites/biguniverse.ru/site/web/app/themes/theme/assets/styles'
    '/Users/rslnk/Sites/biguniverse.ru/site/web/app/themes/theme/assets/scripts'
    '/Users/rslnk/Sites/biguniverse.ru/site/web/app/themes/theme/templates'
    '/Users/rslnk/Sites/biguniverse.ru/site/web/app/themes/theme'
    '/Users/rslnk/Sites/biguniverse.ru/site/web/app/mu-plugins'
    '/Users/rslnk/Sites/biguniverse.ru/site'
  ]
